*{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
body{
	background: #2b2b2b;
	background-image: url(5cmpersecond.jpg);
	background-position: center;
	background-size: 200%;
	background-blend-mode: soft-light;
}
footer{
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(34, 34, 34);
	height: auto;
	width: 100%;
	font-family: "open sans";
	padding-top: 10px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 2rem 0
}
.socials li{
	margin: 0 30px;
}
.socials p{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	color: white;
	width: auto;
}
.socials a i:hover{
	color: lime;
}
.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 1px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 13px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.profile h1{
	color: #fff;
	height: 10px;	
	font-size: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-variant: small-caps;
	margin: 3cm 1px 1px;
}
.profile h1:hover{
	color: darkgray;
	text-shadow: #000;
}
.profile p{
	font-size: 200%;
	color: rgb(226, 226, 226);
	margin: 2cm 1cm 1px;
	font-variant: small-caps;
	text-align: center;
}
.nameweb{
	font-size: 1cm;
	color: white;
	width: auto;
	font-variant: small-caps;
	text-align: left;
	margin: 29px 1cm 1px;
	contain: size;
}
.nameweb h2 a{
	color: #fff;
	text-decoration: none;
}
.nameweb a{
	text-decoration: none;
}
.menumore{
	color: white;
	text-align: right;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 1px 1cm 1cm 2cm;
}
.menumore a{
	color: white;
	text-align: center;
	flex-direction: column;
	align-content: center;
	width: 1px;
	margin: 30px;
	border-width: 10cm;
	text-decoration: none;
}
.menumore a:hover{
	color: lime;
}
.halaman{
	background: rgb(156, 160, 97);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 3px outset black;
}
.halaman div{
	width: 10cm;
	height: 5cm;
	white-space: nowrap;
	background: rgb(30, 51, 58);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 2%;
	border: 1px outset white;
}
.halaman div h1{
	color: #fff;
	position: relative;
	top: -170px; left: 200px;
	font-variant: small-caps;
}
.halaman div p{
	color: #fff;
	position: relative;
	top: -170px; left: 85px;
	font-variant: small-caps;
	margin: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 110px;
}
.halaman div img{
	margin: 6%;
	transition: all 50ms ease-out;
}
.halaman div img:hover{
	width: 44%;
	margin: 5%;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	border: 3px solid wheat;
	transition: all 50ms ease-out;
}
.halaman div img:active{
	width: 38%;
	margin: 8%;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	filter: blur(1px);
	border: 7px solid wheat;
	transition: all 70ms ease-out;
}


/* profile */

.myprofile{
	background: rgb(156, 160, 97);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 3px outset black;
}
.myprofile div{
	width: 10cm;
	height: 5cm;
	white-space: nowrap;
	background: rgb(30, 51, 58);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 2%;
	border: 1px outset white;
}
.myprofile div h1{
	color: #fff;
	position: relative;
	top: -170px; left: 200px;
	font-variant: small-caps;
}
.myprofile div p{
	color: #fff;
	position: relative;
	top: -170px; left: 85px;
	font-variant: small-caps;
	margin: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 110px;
}


/* Title1 */

.title1{
	background: rgb(156, 160, 97);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 3px outset black;
}
.title1 div{
	width: 10cm;
	height: 5cm;
	white-space: nowrap;
	background: rgb(30, 51, 58);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 2%;
	border: 1px outset white;
}
.title1 div h1{
	color: #fff;
	position: relative;
	top: -170px; left: 200px;
	font-variant: small-caps;
}
.title1 div p{
	color: #fff;
	position: relative;
	top: -170px; left: 85px;
	font-variant: small-caps;
	margin: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 110px;
}