*{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
}
body{
	background: #2b2b2b;
	background-image: url(5cmpersecond.jpg);
	background-position: top;
	background-repeat: repeat-y;
	background-size: 200%;
	background-blend-mode: soft-light;
}
footer{
	bottom: 0;
	left: 0;
	right: 0;
	background: rgb(34, 34, 34);
	height: auto;
	width: 100%;
	font-family: "open sans";
	padding-top: 10px;
	color: #fff;
}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 2rem 0
}
.socials li{
	margin: 0 30px;
}
.socials p{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.1rem;
	color: white;
	width: auto;
}
.socials a i:hover{
	color: lime;
}
.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 1px 0;
	text-align: center;
}
.footer-bottom p{
	font-size: 13px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.profile h1{
	color: #fff;
	height: 10px;	
	font-size: 50px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-variant: small-caps;
	margin: 3cm 1px 1px;
}
.profile p{
	font-size: 200%;
	color: rgb(226, 226, 226);
	margin: 2cm 1cm 1px;
	font-variant: small-caps;
	text-align: center;
}
.nameweb{
	font-size: 1cm;
	color: white;
	width: auto;
	font-variant: small-caps;
	text-align: left;
	margin: 29px 1cm 1px;
	contain: size;
}
.nameweb h2 a{
	color: #fff;
	text-decoration: none;
}
.nameweb a{
	text-decoration: none;
}
.menumore{
	color: white;
	text-align: right;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	margin: 1px 1cm 1cm 2cm;
}
.menumore a{
	color: white;
	text-align: center;
	flex-direction: column;
	align-content: center;
	width: 1px;
	margin: 30px;
	border-width: 10cm;
	text-decoration: none;
}
.menumore a:hover{
	color: lime;
}
.halaman{
	background: rgba(36, 61, 51, 0.486);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 4px outset black;
	display: flex;
	border-radius: 10px;
	max-width: none;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	transition: all 200ms ease-in-out;
	text-decoration: none;
}
.halaman:hover{
	background: rgba(62, 69, 70, 0.844);
	transition: all 200ms ease-in-out;
	padding: 10px;
}
.halaman div{
	width: 46%;
	height: 240px;
	white-space: nowrap;
	background: rgb(55, 75, 73);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 2%;
	border: 1px outset white;
	transition: all 200ms ease-out;	
}
.halaman div:hover{
	background-color: rgb(81, 94, 109);
	cursor: crosshair;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
}
.halaman div h1{
	color: #fff;
	font-variant: small-caps;
	display: block;
	flex-direction: row-reverse;
	line-height: 2rem;
    max-height: 5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 5%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halaman div h1:hover{
	color: #fff;
	font-variant: small-caps;
	display: block;
	flex-direction: row-reverse;
	line-height: 2rem;
    max-height: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 5%;
	margin-right: 1%;
	transition: all 200ms ease-in-out;
}
.halaman div p{
	color: white;
	font-variant: small-caps;
    display: block;
	line-height: 1rem;
    font-weight: 500;
    max-height: 5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 3%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halaman a{
	color: white;
	font-variant: small-caps;
	text-decoration: none;
	text-align: left;
	justify-content: left;
	transition: all 200ms ease-in-out;
}
.halaman div p:hover{
	color: white;
	font-variant: small-caps;
    display: block;
	line-height: 1rem;
    font-weight: 500;
    max-height: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 3%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halaman div img{
	margin: 20px;
	transition: all 50ms ease-out;
	float: left;
}
.halaman div img:hover{
	width: 220px;
	margin: 10px;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	border: 3px solid wheat;
	transition: all 50ms ease-out;	
}
.halaman div img:active{
	width: 190px;
	margin: 25px;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	filter: blur(1px);
	border: 7px solid wheat;
	transition: all 70ms ease-out;
}


/* profile */

.myprofile{
	background: rgb(156, 160, 97);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 3px outset black;
}
.myprofile div{
	width: 10cm;
	height: 5cm;
	white-space: nowrap;
	background: rgb(30, 51, 58);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	margin: 2%;
	border: 1px outset white;
}
.myprofile div h1{
	color: #fff;
	position: relative;
	top: -170px; left: 200px;
	font-variant: small-caps;
}
.myprofile div p{
	color: #fff;
	position: relative;
	top: -170px; left: 85px;
	font-variant: small-caps;
	margin: 2%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding: 1px 110px;
}

.jendela1{
	color: rgb(255, 255, 255);
	text-decoration: none;
	background-color: rgb(0, 0, 0);
	position: fixed;
	text-align: center;
	padding: 10px 10px;
	border-radius: 10px;
	right: 20px;
	bottom: 20px;
	border: rgb(100, 100, 100) outset 1px;
	transition: all 70ms ease-out;
}
.jendela1 a i{
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.jendela1:hover{
	color: white;
	background-color: rgb(56, 56, 56);
	position: fixed;
	text-align: center;
	padding: 12px 12px;
	border-radius: 10px;
	right: 20px;
	bottom: 20px;
	border: rgb(216, 216, 216) outset 1px;
	transition: all 70ms ease-out;
}

/* form */

form{
	padding: 0;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form input,
form textarea{
	padding: 5px;
	width: 100%;
	border: 0px solid rgba(30, 51, 58, 0);
	background-color: rgba(65, 92, 133, 0.22);
	cursor: text;
	color: azure;
	font-family: 'Courier New', Courier, monospace;
}
form input:hover,
form textarea:hover{
	padding: 5px;
	width: 100%;
	border: 0px solid rgba(0, 191, 255, 0.96);
	background-color: rgba(65, 92, 133, 0.624);
	cursor: text;
	color: azure;
	font-family: 'Courier New', Courier, monospace;
}
textarea{
	resize: vertical;
}
.button, button{
	background-color: rgba(65, 92, 133, 0.22);
	border: none;
	outline: none;
	padding: 15px;
	width: 3cm;
	cursor: pointer;
	transition: all 60ms ease-in-out;
	color: rgb(255, 255, 255);
}
.button:hover, button:hover{
	background-color: rgba(63, 140, 255, 0.521);
	transition: all 200ms ease-in-out;
}
.button:active, button:active{
	background-color: rgba(63, 255, 121, 0.521);
	transition: all 1ms ease-in-out;
}
.overlay{
	display: flex;
	flex-direction: row;
	margin: 1%;
	width: 98%;
	height: 6%;
	position: fixed;
	background-color: rgba(63, 255, 121, 0.521);
	border: none;
	transition: opacity 400ms;
	visibility: hidden;
	opacity: 0;
	color: black;
}
.overlay p{
	text-align: left;
	align-items: center;
	margin: 1%;
}
.overlay a{
	text-align: right;
	position: relative;
	margin: 1%;
	text-decoration: none;
	color: red;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
	color: white;
}
  

/* title halaman */
.halamanc{
	background: rgba(36, 61, 51, 0.486);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 4px outset black;
	border-radius: 10px;
	max-width: none;
	flex-direction: row;
	flex-wrap: wrap;
	transition: all 200ms ease-in-out;
	text-decoration: none;
	color: white;
}
.halamanc p a{
	text-decoration: dashed;
	color: #fff;
}
.halamanc img{
	justify-content: center;
	align-items: center;
	margin: auto;
}
.halamanc p{
	text-indent: 3%;
	text-decoration: none;
	color: white;
}
/* title cerita*/
.halamano{
	background: rgba(36, 61, 51, 0.486);
	padding: 13px;
	margin: 1cm 20px 0cm ;
	border: 4px outset black;
	border-radius: 10px;
	max-width: none;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	transition: all 200ms ease-in-out;
	text-decoration: none;
}
.halamano p{
	text-indent: 3%;
	text-decoration: none;
	color: white;
}
.halamano h1{
	text-align: center;
}

.halamano div{
	width: 46%;
	height: 240px;
	white-space: nowrap;
	background: rgb(55, 75, 73);
	align-content: center;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 4px;
	margin: 2%;
	border: 1px outset white;
	transition: all 200ms ease-out;	
}
.halamano div:hover{
	background-color: rgb(81, 94, 109);
	cursor: crosshair;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
}
.halamano div h1{
	color: #fff;
	font-variant: small-caps;
	display: block;
	flex-direction: row-reverse;
	line-height: 2rem;
    max-height: 5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 5%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halamano div h1:hover{
	color: #fff;
	font-variant: small-caps;
	display: block;
	flex-direction: row-reverse;
	line-height: 2rem;
    max-height: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 5%;
	margin-right: 1%;
	transition: all 200ms ease-in-out;
}
.halamano div p{
	color: white;
	font-variant: small-caps;
    display: block;
	line-height: 1rem;
    font-weight: 500;
    max-height: 5rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 3%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halamano a{
	color: white;
	font-variant: small-caps;
	text-decoration: none;
	text-align: left;
	justify-content: left;
	transition: all 200ms ease-in-out;
}
.halamano div p:hover{
	color: white;
	font-variant: small-caps;
    display: block;
	line-height: 1rem;
    font-weight: 500;
    max-height: 10rem;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
	margin-top: 3%;
	margin-right: 2%;
	transition: all 200ms ease-in-out;
}
.halamano div img{
	margin: 20px;
	transition: all 50ms ease-out;
	float: left;
}
.halamano div img:hover{
	width: 220px;
	margin: 10px;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	border: 3px solid wheat;
	transition: all 50ms ease-out;	
}
.halamano div img:active{
	width: 190px;
	margin: 25px;
	justify-content: center;
	align-content: center;
	filter: grayscale(80%);
	filter: blur(1px);
	border: 7px solid wheat;
	transition: all 70ms ease-out;
}

.lop{
	text-indent: 10%;
	text-decoration: none;
	color: white;
	margin: 10px;
	font-size: 33px;
	margin-left: 6%;
}
.lop :hover{
	color: lime;
}
.halamanc:hover{
	background: rgba(62, 69, 70, 0.844);
	transition: all 200ms ease-in-out;
	padding: 10px;
}